.navbar-my {
    background-color: #9f224e;
}

.navbar-my i {
    font-size: 1.6em;
    padding: 5px;
}

.navbar {
    min-height: 30px !important;
    border-radius: 0px !important;
    margin-bottom: 0px !important;
}

.nav a {
    color: white;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

li a:hover {
    box-shadow: none;
}

.main {
    margin-top: 0px;
}

.left-head {
    background-color: #e6f3ff;
    color: #43aa76;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    font-size: 1.2em;
    border-bottom: 1px solid #ccc;
}

.list-menu {
    background-color: #f2f2f2;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.cate-menu {
    margin-left: 20px;
    font-weight: bold;
    color: #9f224e;
    padding: 5px;
    padding-top: 10px;
    font-size: 1.1em;
}

.list-menu ul li a {
    color: #5d5d5d;
    padding: 5px;
}

.navbar-my a {
    color: white !important;
}

.navbar-my a:hover {
    color: white !important;
}

table th, td {
    font-size: 0.9em;
}

table th {
    background-color: #eee;
}

table {
    margin-top: 10px;
}

.form label {
    min-width: 100px;
}

.b-action {
    width: 30px;
    height: 30px;
    float: left;
    margin: 3px;
}

.b-action i {
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.b-action .edit {
    background-image: url("../img/edit.png");
}

.b-action .delete {
    background-image: url("../img/delete.png");
}

.top-menu:hover {
    background-color: #9f224e !important;
}
.top-menu:active {
    background-color: #9f224e !important;
}
.top-menu:focus {
    background-color: #9f224e !important;
}

.top-menu:visited{
    background-color: #9f224e !important;
}

.drop-menu {
    color: black !important;
}

.col-action {
    padding: 3px !important;
}